<div id="form">
  <h1>Signup</h1>
  <div class="form">
    <form action="/signup" method="POST">
      <div class="label">
        <p style="text-align: center;" >Username</p>  
      <label class="unserNameText"> 
        <input style="padding:15px;" type="text" name="username" placeholder="ironhacker" />
      </label>
      <p style="text-align: center;" >email</p>
      <label class="emailText">
        <input style="padding:15px;" type="email" name="email" placeholder="rockstar@ironhack.com" />
      </label>
      <p style="text-align: center;" >Password</p>
      <label class="passwordText">
        <input style="padding:15px;" type="password" name="password" placeholder="********" />
      </label>
  
      <button type="submit">Sign Up</button>
  
  </div>
  
    <% if (typeof errorMessage !== 'undefined') { %>
      <p><%= errorMessage %></p>
      <% } %>
    </div>
  </form>
</div>
</div>

  

  
  
  