<!-- <style>

  #form{
    color: #e4edee;
  }

  button{
    color: black;
    all: unset;
    background: white;
    padding: 1em 4em;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: all 300ms 
  }

  input{
    background: transparent;
    border: 1px solid white;
    padding: 1em 2em;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
  
  }

  placeholder { 
    color: hsla(0, 100%, 99%, 0.759);
  }
   
</style> -->


<style>

body{
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.316), rgba(65, 65, 67, 0.515), rgba(30, 30, 30, 0.713), rgba(14, 14, 14, 0.69), rgb(0, 0, 0)), url('/images/login-1.jpg') no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
  }

  .container{
  margin:auto; 
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align:center;
  }
  .box{
  padding: 100px; 
  margin:100px;   
  height: 100%;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 80px;
  }

  li{
    list-style: none;
  }
  @media only screen and ( max-width:768px ){	
      .box{
        margin:50px;
        padding: 20px;
        width:400px;
        border-radius: 20px;
      }
    }
  .forecastList {
    list-style: none;
  }
  .h1container{
  margin-top: 10px;  
  }
  

  li{
    padding: 20px;
    color: aliceblue;
    
  }

 h2{
  padding: 40px;
  /* border-bottom:1px solid rgb(227, 226, 226); */
 } 
.beaches{
  border:1px solid rgb(227, 226, 226);
  list-style: none;
} 

.beach-box{
  
display: block;
flex-direction: row;
flex-wrap:wrap;
}
  </style>
  
  <section class="container">
    <h1 class="forcastH1" >WORLDWIDE<br>FORECAST</h1>
    <div class="box">
    <div class="h1container"><h2>ALL SURF SPOTS</h2></div>
      
      <div class="beach-box">
        <% beachesResponse.forEach((spot) => { %>
          <ul class="forecastList">
            <div class="beaches"><li><a href="/forecast-detail/<%= spot.spotId %>"><%= spot.spotName %></a></li></div>
          <% }) %> 
          </ul>
      </div>
  </section>
  
  
  </div>