
<!-- <div id="welcomeIndex"> 
  <h1>Welcome Surfer!</h1>
  <div class="auth">
    <a class="loginText" href="/login">Login</a>
    <a class="signupText" href="/signup">Signup</a>
  </div>
  </div> -->

  <section>
    <div class="h1container">
      <h1 class="forcastH1">Get the Most<br>accurate<br>forecasts</h1> 
      <div class="icon">
        <div class="arrow"></div>
      </div>
      <h3 class="siginuparrow"><a href="/signup">Signup Now</a></h3>
    </div>
  </section>
