@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
body {

  font-family: 14px 'Red Hat Display', sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-image: url('/images/heroImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1240px;
  font-family: Hat Display,sans-serif;
  /* font-size: 5.3125rem; */
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;

}

/* titulos h1 */
.forcastH1{
  font-size: 80px;
  margin-top: 100px;
  padding: 40px;
}
.h1container{
display: flex;
flex-direction: column;
text-align: center;  
justify-content: center;
}

/* arrow */

.icon {
  position: absolute;
  top: 59%;
  left: 40%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

/* form */




/* Navbar */
nav{
  display: flex;
  height: 80px;
  width: 100%;
  /* background: #1b1b1b; */
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  .icon {
    top: 69%;
    left: 30%

}
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}








/* ul a {
  color: #ffffff;
} */



h1 {
  color: white;
  margin: 12px;
}

h2 {
  color: white;
  margin: 12px;
}

h3 {
  color: white;
  margin: 8px;
}

p {
  color: rgba(255, 255, 255, 0.8);
  margin: 8px;
}


.menuList {
display: flex;
list-style: none;
 margin-bottom: 80px;
}

/* li{
  padding: 20px;
} */

 a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px;
  margin: 8px;
  width: 160px;
  border-radius: 10px;
} 

/* a:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 40px 0 rgba(255, 255, 255, 0.2);
} */

.loginText {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px;
  margin: 8px;
  width: 160px;
  border-radius: 10px;
} 

.signupText{
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px;
  margin: 8px;
  width: 160px;
  border-radius: 10px;

}

/* INDEX */

#welcomeIndex {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  backdrop-filter: blur(12px);
  height: 400px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 520px;
  margin-top: 40px;
  box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.2);
}

.auth{

  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginText{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupText {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* SQUIRCLE
background: paint(squircle);
--squircle-smooth: 1;
--squircle-radius: 40px;
--squircle-fill: rgba(0, 0, 0, 0.2); */

@media screen and (max-width: 769px) {
  body{
    background-color: #057F8B;
  }
  
}


/* LOGIN */

#form {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  backdrop-filter: blur(12px);
  height: 500px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.2);
}

.emailText {
  color: white;
}

.passwordText {
  color: white;
}

.unserNameText {
  color: white;
  padding: 8px;
  
}

input {
height: 24px;
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(4px);
border-width: 0px;
border-radius: 4px;
color: white;
margin-left: 12px;
padding: 8px;
}


input:focus {
  color: white;
  background: rgba(255, 255, 255, 0.4);
  outline-color: white;
  outline-width: thin;
}



.label {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.emailText{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}
.passwordText{
  padding: 8px;
}

button {
  font-size: 16px;
  background-color: black;
  color: white;
  height: 40px;
  border-width: 0px;
  border-radius: 8px;
  margin-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.2);
}

.buttonDelete {
  background-color: red;
}

/* PROFILE */

 .profileCard{
  backdrop-filter: blur(12px);
  background-image: url('/images/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 88px;
  height: 400px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.2);
}

 .profileInfo {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  padding: 40px;
}

.helloSurfer {
  color: rgb(73, 73, 73);
}

.siginuparrow{
font-size: 25px;

}

.loggedInAs {
  color: rgb(131, 131, 131);
}

.emailProfileLog{
  color: rgb(73, 73, 73);
}






/* SPOT DETAILS */

.detailsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.detailsSurf {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spotDescription {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  padding: 40px;
  margin: 20px;
  width: 660px;
}

.humanRelation {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  padding: 40px;
  margin: 20px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotDetailsMax {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  padding: 40px;
  margin: 20px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotDetailsMin {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  padding: 40px;
  margin: 20px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.humanRelationText {
  font-size: 24px;
  font-weight: bold;
}
.spotDetailsText {
  font-size: 24px;
  font-weight: bold;
}


/* FAVORITES */

.userFavorites {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  margin: 20px;
}

.userFavoritesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.userFavoritesIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favoritesDiv {
  margin: 40px;
}



/* footer */
.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
.box {
  backdrop-filter: blur(12px);
}


  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
/* logo */
.logo{
  width: auto;
  height: 35px;

}